<nav class="navbar p-4 bg-neutral flex gap-4">
  <a href="/" aria-label="홈으로 이동">
    <img class="h-10" src="/public/images/logo.webp" alt="인디스트릿 로고"/>
  </a>
  <a class="btn btn-ghost normal-case text-xl" href="/musicians/">뮤지션 목록</a>
  <a class="btn btn-ghost normal-case text-xl" href="/live/">공연 목록</a>
</nav>